{% extends "base.html.twig" %}

{% block title %}
    Détails de {{ product.name }}
{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1> Détails de {{ product.name }}</h1>
            </div>
            <div class="col-6">
                <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                <img src="..." class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                <img src="..." class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                <img src="..." class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            </div>
            </div>
            <div class="col-6">
                <p>{{ product.description }}</p>
                <p>Catégorie: {{ product.categories.name }}</p>
                <p>Prix: {{ product.price / 100 }} €</p>

                {% if product.stock > 0 %}
                    <a href="{{ path('app_cart_add', {id: product.id}) }}" class="btn btn-success">Ajouter au panier</a>
                {% else %}
                    <p class="text-danger">Temporairement en rupture de stock.</p>
                {% endif %}
                
            </div>
        </section>
    </main>
{% endblock %}